* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
    margin: 0 auto;
}

header {
    position: relative;
    background-color: #0097A7;
    text-align: center;
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 14%);
}

header .container {
    display: flex;
    align-items: center;
}

header h1 {
    color: #fff !important;
    margin: 20px 0;
    font-size: 24px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #0097A7;

}

h3 {
    font-size: 25px;
    margin: 30px 0;
}

.btn.btn-primary {
    background-color: #0097A7;
    border-color: #0097A7;
    text-transform: uppercase;
    margin: 10px 0;
}

table img {
    width: 220px;
    border: 1px solid #ccc;
}


/* Configurações do modal */

.modalBack {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;

}

.modalFront {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: white;
    width: 20%;
    height: 61.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 39.2%;
    margin-top: 7%;


}
#imgTemporaria{
    max-width: 200px;
    margin-bottom: 20px;
    max-height: 160px;

}
.modal header {
    width: 100%;
    height: 6%;
}

.titulomodal {
    font-size: 200%;
    padding-top: 2%;
    align-items: center;
    padding-bottom: 2%;
    color: white;
    font-style: inherit;
    text-transform: uppercase
}


.modal-form {
    display: flex;
    align-items: center;

    flex-direction: column; 
    padding-top: 20px;
  
}

.modal-form label{
    display: flex;
    margin-left: 3%;
    font-weight: 700;
    flex-direction: column; 
    color: #0097A7;
    margin-bottom: -4%;
}

.modal-form input {
    margin: 5%;
    width: 220%;
    height: 50px;
    padding-bottom: 10%;
}



.botoesModal {
    justify-content: space-around;
    align-items: center;

}

#botaoSalvar {
    padding: 5px 20px;
    background-color: #0097A7;
    color: white;
    border: none;
}
#botaoSalvarEditar {
    padding: 5px 20px;
    background-color: #0097A7;
    color: white;
    border: none;
}
#botaoCancelar {
    padding: 5px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
}

#imgMostrada {

    max-width: 200px;
    max-height: 160px;
    margin-left: 6%;
    padding-bottom: 6%;
    padding-top: 4%
}

@media only screen and (max-width:1366px) {

    /* Configurações do modal */

.modal {
    background-color: white;
    width: 40%;
    height: 68%;
}

}
